button {
    transition-duration: 0.4s;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    border: none;
    padding: 12px 12px;
    font-size: 16px;
}

.primary-button {
    background-color: hsl(216, 100%, 50%);
    color: white;

    border-radius: 10px 0 10px 0;
}

.primary-button:hover {
	background-color: hsl(216, 97%, 60%);
    color: white;

    border-radius: 10px 0 10px 0;
}

.secondary-button {
	background-color: white;
    color: black;
    
    border-radius: 10px 0 10px 0;
}

.secondary-button:hover {
	background-color: hsl(0, 0%, 91%);
    color: black;
    
    border-radius: 10px 0 10px 0;
}