.main-content {
  padding-top: 10vh;
  padding-left: 3vw;
  display: flex;
}

.navigation-container {
  display: flex;
  gap: 2vw;
  align-items: center;
}

.title-container h1 {
  margin-bottom: 0.5vh;
  padding-bottom: 0;
  font-size: 150%;
}

.title-container p {
  margin-top: 0;
  padding-top: 0;
  font-size: 120%;
}

.property-info {
  width: 65vw;
}

.image-controls {
  display: flex;
  border-radius: 8;
  background: hsl(192, 12%, 98%);
  border: 1px solid hsl(190, 100%, 96%);
}

.property-image {
  width: 100%;
  height: 40vh;
}

.img-control-button {
  background: transparent;
  border: none;
  width: 5vw;
}

.img-control-button:hover {
  background: hsl(0, 0%, 97%);
  border: 1px solid hsl(0, 0%, 93%);
}

.categories-container {
  display: flex;
  gap: 2vw;
}

.categories-container p {
  border-radius: 5;
  border: 1px solid hsl(190, 100%, 87%);
  background: hsl(190, 100%, 95%);
  padding: 0.8vh 1.5vw;
}

.description {
  margin: 1vh 0;
}

.extra-info-container {
  display: flex;
  gap: 2vw;
}

.extra-info-container div {
  border-radius: 8;
  background: hsl(192, 80%, 95%);
  border: 1px solid hsl(190, 100%, 96%);
  padding: 0.3vh 1vw;
  width: 50%;
}

.side-bar {
  margin: 4vh 2vw;
  width: 50%;
}

.side-bar div {
  border-radius: 8;
  background: hsl(192, 80%, 95%);
  border: 1px solid hsl(190, 100%, 96%);
  padding: 0.3vh 1vw;
}

.price-container {
  margin-bottom: 5vh;
}

.price-container button {
  width: 100%;
  margin-bottom: 1vh;
}

.map-container div {
  display: flex;
  align-items: center;
  gap: 2vw;
}
