.popup {
  background: whitesmoke;
  padding: 0.2vh 3vw 2vh;
  border-radius: 8;
  border: solid 1px rgb(231, 231, 231);
}

.section-tag {
    font-size: large;
    padding-top: 1vh;
    margin-bottom: 0;
}