.mainContainer {
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 80vw;
    background-color: aliceblue;
}

.categoriesContainer {
    display: inline;
    vertical-align: bottom;
}

.searchControls {

}

.contentGrid {

}